header {

    background-color: violet;
}

main {
    background-color: yellowgreen;
}
section {
    background-color: aqua;
}

div {
    background-color: mediumspringgreen;
}

h1,h2 {
    color: red;
}